{% extends 'base.html' %}
{% load crispy_forms_tags %}

<style>
    .alert .m-0 li::marker {
        list-style-type: none;
        color: blue;
    }
</style>

{% block page_content %}
<div class="row justify-content-center m-5" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
    <div id="card" class="card " style="width: 30rem;">
        <div class="card-body">
            <!-- <h1 class="display-3 text-center">Log In</h1> -->
            <hr>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div id="button">
                        <button type="submit" class="btn btn-primary">Create Product</button>
                    </div>
                </div>
            </form>
            {% for field in form %}
            <!-- <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div> -->
            {% endfor %}
        </div>
    </div>
</div>
{% endblock page_content %}
